<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置bean-->
    <bean id="bookDao" class="com.itzwz.dao.impl.BookDaoImpl">
        <property name="databaseName" value="mysql"/>
        <property name="connnectionNum" value="10"/>
    </bean>
    <bean id="bookService" class="com.itzwz.service.impl.BookServiceImpl" autowire="byType">

    </bean>

    <bean id="userDao" class="com.itzwz.dao.impl.UserDaoImpl"/>
    <bean id="userService" class="com.itzwz.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>




</beans>